# Hey, Arnold!

* This assignment will give you experience creating DataFrames from scratch.

* You will create a pandas DataFrame of characters from this TV show: [https://en.wikipedia.org/wiki/Hey_Arnold!](https://en.wikipedia.org/wiki/Hey_Arnold!)

## Instructions

1. First, use Pandas to create a DataFrame with the following columns and values:
* `Character_in_show`: Arnold, Gerald, Helga, Phoebe, Harold, Eugene
* `color_of_hair`: blonde, black, blonde, black, unknown, red
* `Height`: average, tallish, tallish, short, tall, short
* `Football_Shaped_Head`: True, False, False, False, False, False
2. You'll note that the above column names are inconsistent and difficult to work with. Rename them to the following, respectively:
* `Character`, `Hair Color`, `Height`, `Football Head`
3. Next, create a new table that contains all of the columns in the following order...
* `Character`, `Football Head`, `Hair Color`, `Height`
4. Finally, save the file in Excel format.

In [1]:
# import dependencies
import pandas as pd

In [2]:
# Create a data frame with given columns and value
hey_arnold = pd.DataFrame(
    {"Character_in_show": ["Arnold", "Gerald", "Helga", "Phoebe", "Harold", "Eugene"],
     "color_of_hair": ["blonde", "black", "blonde", "black", "unknown", "red"],
     "Height": ["average", "tallish", "tallish", "short", "tall", "short"],
     "Football_Shaped_Head": [True, False, False, False, False, False]
     })

hey_arnold

  Character_in_show color_of_hair   Height  Football_Shaped_Head
0            Arnold        blonde  average                  True
1            Gerald         black  tallish                 False
2             Helga        blonde  tallish                 False
3            Phoebe         black    short                 False
4            Harold       unknown     tall                 False
5            Eugene           red    short                 False

In [ ]:
, ,

In [6]:
# Rename columns to clean up the look
Hey_Arnold = hey_arnold.rename(columns={"Character_in_show":"Character",
"color_of_hair": "Hair Color", "Football_Shaped_Head":"Football Head"})

In [8]:
# Organize columns into a more logical order
Hey_Arnold = Hey_Arnold[["Character","Football Head","Hair Color","Height"]]

In [9]:
Hey_Arnold

  Character  Football Head Hair Color   Height
0    Arnold           True     blonde  average
1    Gerald          False      black  tallish
2     Helga          False     blonde  tallish
3    Phoebe          False      black    short
4    Harold          False    unknown     tall
5    Eugene          False        red    short

In [10]:
# Export new data
with pd.ExcelWriter('Arnold_data.xlsx') as writer:
    Hey_Arnold.to_excel(writer, sheet_name="Arnold data")