# Pandas

In [2]:
import pandas as pd

In [3]:
#Check pandas version
print(pd.__version__)

0.23.0

## Series

In [4]:
### Create, manipulate, query, delete

In [5]:
#### Creating as series from list

In [18]:
arr = [0,1,2,3,4]
s1 = pd.Series(arr)
s1

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [ ]:
#Create a series from a series and change index

In [10]:
order = [1,2,3,4,5]
s2 = pd.Series(arr,index=order)
s2

1    0
2    1
3    2
4    3
5    4
dtype: int64

In [ ]:
#Create a series from numpy array

In [12]:
import numpy as np

In [16]:
n = np.random.randn(5) #Create a random Ndarray
n

array([-1.25759468,  1.01298061, -0.14963816,  0.52087849, -0.50041206])

In [17]:
order = ['a','b','c','d','e']
s3 = pd.Series(n,index=order)
s3

a   -1.257595
b    1.012981
c   -0.149638
d    0.520878
e   -0.500412
dtype: float64

In [ ]:
#Create a series from a dictionary

In [20]:
d = {'a':1,'b':2,'c':3,'d':4,'e':5}
s4 = pd.Series(d)
s4

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [23]:
#Index modification
print(s1)
s1.index = ['A','B','C','D','E']
s1

A    0
B    1
C    2
D    3
E    4
dtype: int64

A    0
B    1
C    2
D    3
E    4
dtype: int64

In [24]:
## Slicing

In [25]:
s1[:3]

A    0
B    1
C    2
dtype: int64

In [28]:
s1[:-1]

A    0
B    1
C    2
D    3
dtype: int64

In [29]:
s1[:-2]

A    0
B    1
C    2
dtype: int64

In [30]:
s1[2:]

C    2
D    3
E    4
dtype: int64

In [31]:
s1[-2:]

D    3
E    4
dtype: int64

In [34]:
s5 = s1.append(s4)
s5

A    0
B    1
C    2
D    3
E    4
a    1
b    2
c    3
d    4
e    5
dtype: int64

In [38]:
s5.drop('E')

A    0
B    1
C    2
D    3
a    1
b    2
c    3
d    4
e    5
dtype: int64

In [39]:
# Series Operations

In [41]:
arr1 = [0,1,2,3,4,5,6,7]
arr2 = [8,9,10,5]

In [43]:
s6 = pd.Series(arr2)
s6

0     8
1     9
2    10
3     5
dtype: int64

In [44]:
s7 = pd.Series(arr1)
s7

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
dtype: int64

In [45]:
s6.add(s7)

0     8.0
1    10.0
2    12.0
3     8.0
4     NaN
5     NaN
6     NaN
7     NaN
dtype: float64

In [46]:
s7.add(s6)

0     8.0
1    10.0
2    12.0
3     8.0
4     NaN
5     NaN
6     NaN
7     NaN
dtype: float64

In [48]:
s6.sub(s7)

0    8.0
1    8.0
2    8.0
3    2.0
4    NaN
5    NaN
6    NaN
7    NaN
dtype: float64

In [57]:
s8 = s6.mul(s7)
s8

0     0.0
1     9.0
2    20.0
3    15.0
4     NaN
5     NaN
6     NaN
7     NaN
dtype: float64

In [51]:
s7.div(s6)

0    0.000000
1    0.111111
2    0.200000
3    0.600000
4         NaN
5         NaN
6         NaN
7         NaN
dtype: float64

In [55]:
print("median ",s7.median())
print("max ",s7.max())
print("min",s7.min())

median  3.5
max  7
min 0

In [59]:
#Drops Null
print("median ",s8.median())
print("max ",s8.max())
print("min",s8.min())

median  12.0
max  20.0
min 0.0

0

### https://www.youtube.com/watch?v=PfVxFV1ZPnk